@charset "utf-8";

#topimg {
    float:right;
    max-width: 98%;
}
img.bike {
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-bottom: 0.75em;
    max-width: 288px;
    max-height: 288px;
    border-radius: 3px;
}
table {
    border-collapse: collapse;
}
th {
    border: 1px solid black;
    font-weight: normal;
    padding: 0.2em;
}
td {
    margin: 0;
    padding: 0.2em;
}
@media (min-width: 700px) {
    #topimg {
        max-width: 500px;
    }
    img.bike {
        max-width: 320px;
        max-height: 320px;
        border-radius: 4px;
    }
}
@media (min-width: 1920px) {
    img.bike {
        max-width: 576px;
        max-height: 576px;
        border-radius: 6px;
    }
}
