@charset "utf-8";

/* main {
	color: #5a5c5f;
	text-align: center;
}
.contents {
	display: inline-block;
	text-align: left;
} */
.overlap {
	text-align: center;
    position: relative;
}
.overlap img {
	/* border-radius: 15px; */
	/* border-radius: 1em; */
	/*
	margin-bottom: -20px;
	*/
	/*こうしないと大きな余白ができてしまう*/
}
.thumbnail img {
	border-radius: 5px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 5px;
	width: 75px;
	height: 75px;
	object-fit: cover;
}
.scroll {
	height: 160px;
	overflow: auto;
}
#photo {
	display: block;
	margin: 0 auto 10px auto;
}
#note {
	text-align: left;
	position:absolute; top: 15px; left: 20px; z-index:1;
}
#markers {
	font-size:20px;
	font-weight: bold;
    color: deepskyblue;
	visibility: hidden;
}
#miyagi1 {
    position:absolute; top: 6px; right:0; bottom:0; left: 365px; margin:auto; z-index:1; }
#miyagi2 {
    position:absolute; top: 10px; right:0; bottom:0; left: 344px; margin:auto; z-index:1; }
#chiba1 {
    position:absolute; top: 117px; right:0; bottom:0; left: 313px; margin:auto; z-index:1; }
#chiba2 {
    position:absolute; top: 106px; right:0; bottom:0; left: 335px; margin:auto; z-index:1; }
#shiga1 {
    position:absolute; top: 124px; right:0; bottom:0; left: 56px; margin:auto; z-index:1; }
#kagawa1 {
    position:absolute; top: 164px; right:0; bottom:0; left: -99px; margin:auto; z-index:1; }
#tokushima1 {
    position:absolute; top: 184px; right:0; bottom:0; left: -66px; margin:auto; z-index:1; }
#kochi1 {
    position:absolute; top: 216px; right:0; bottom:0; left: -160px; margin:auto; z-index:1; }
#tottori1 {
    position:absolute; top: 114px; right:0; bottom:0; left: -75px; margin:auto; z-index:1; }
#tottori2 {
    position:absolute; top: 113px; right:0; bottom:0; left: -133px; margin:auto; z-index:1; }
#shimane1 {
    position:absolute; top: 127px; right:0; bottom:0; left: -190px; margin:auto; z-index:1; }
#shimane2 {
    position:absolute; top: 118px; right:0; bottom:0; left: -164px; margin:auto; z-index:1; }
#yamaguchi1 {
    position:absolute; top: 162px; right:0; bottom:0; left: -202px; margin:auto; z-index:1; }
#oita1 {
    position:absolute; top: 181px; right:0; bottom:0; left: -247px; margin:auto; z-index:1; }
#oita2 {
    position:absolute; top: 190px; right:0; bottom:0; left: -272px; margin:auto; z-index:1; }
#miyazaki1 {
    position:absolute; top: 212px; right:0; bottom:0; left: -240px; margin:auto; z-index:1; }
#miyazaki2 {
    position:absolute; top: 217px; right:0; bottom:0; left: -268px; margin:auto; z-index:1; }
#miyazaki3 {
    position:absolute; top: 251px; right:0; bottom:0; left: -260px; margin:auto; z-index:1; }
#kagoshima1 {
    position:absolute; top: 262px; right:0; bottom:0; left: -279px; margin:auto; z-index:1; }
#kagoshima2 {
    position:absolute; top: 266px; right:0; bottom:0; left: -338px; margin:auto; z-index:1; }
#kumamoto1 {
    position:absolute; top: 224px; right:0; bottom:0; left: -315px; margin:auto; z-index:1; }
#fukuoka1 {
    position:absolute; top: 185px; right:0; bottom:0; left: -286px; margin:auto; z-index:1; }
#saga1 {
    position:absolute; top: 192px; right:0; bottom:0; left: -330px; margin:auto; z-index:1; }
#nagasaki1 {
    position:absolute; top: 189px; right:0; bottom:0; left: -377px; margin:auto; z-index:1; }

#clear{
    color: steelblue;
	text-decoration: none;
}
@media (max-width: 670px) {
    main {
		font-size: 12px;
    }
	.overlap img {
		/* border-radius: 8px; */
		width: 200px;
	}
	.thumbnail img {
		border-radius: 3px;
		margin-left: 3px;
		margin-right: 0;
		width: 50px;
		height: 50px;
	}
	.scroll {
		height: 106px;
	}
	#note {
		top: 0;
	}
	#note ul {
		margin-left: 20px;
		font-size:11px;
	}
	#photo {
		/* width: 95%; */
		margin-left: 10px;
		max-width: 250px;
		max-height: 250px;
	}	
	#markers {
		font-size:16px;
	}	
	#miyagi1 {
		position:absolute; top: 0px; right:0; bottom:0; left: 182px; margin:auto; z-index:1; }
	#miyagi2 {
		position:absolute; top: 0px; right:0; bottom:0; left: 173px; margin:auto; z-index:1; }
	#chiba1 {
		position:absolute; top: 53px; right:0; bottom:0; left: 157px; margin:auto; z-index:1; }
	#chiba2 {
		position:absolute; top: 49px; right:0; bottom:0; left: 168px; margin:auto; z-index:1; }
	#shiga1 {
		position:absolute; top: 57px; right:0; bottom:0; left: 28px; margin:auto; z-index:1; }
	#kagawa1 {
		position:absolute; top: 78px; right:0; bottom:0; left: -49px; margin:auto; z-index:1; }
	#tokushima1 {
		position:absolute; top: 89px; right:0; bottom:0; left: -30px; margin:auto; z-index:1; }
	#kochi1 {
		position:absolute; top: 104px; right:0; bottom:0; left: -80px; margin:auto; z-index:1; }
	#tottori1 {
		position:absolute; top: 54px; right:0; bottom:0; left: -37px; margin:auto; z-index:1; }
	#tottori2 {
		position:absolute; top: 52px; right:0; bottom:0; left: -66px; margin:auto; z-index:1; }
	#shimane1 {
		position:absolute; top: 60px; right:0; bottom:0; left: -95px; margin:auto; z-index:1; }
	#shimane2 {
		position:absolute; top: 54px; right:0; bottom:0; left: -84px; margin:auto; z-index:1; }
	#yamaguchi1 {
		position:absolute; top: 78px; right:0; bottom:0; left: -100px; margin:auto; z-index:1; }
	#oita1 {
		position:absolute; top: 88px; right:0; bottom:0; left: -124px; margin:auto; z-index:1; }
	#oita2 {
		position:absolute; top: 92px; right:0; bottom:0; left: -138px; margin:auto; z-index:1; }
	#miyazaki1 {
		position:absolute; top: 103px; right:0; bottom:0; left: -120px; margin:auto; z-index:1; }
	#miyazaki2 {
		position:absolute; top: 105px; right:0; bottom:0; left: -134px; margin:auto; z-index:1; }
	#miyazaki3 {
		position:absolute; top: 122px; right:0; bottom:0; left: -130px; margin:auto; z-index:1; }
	#kagoshima1 {
		position:absolute; top: 128px; right:0; bottom:0; left: -140px; margin:auto; z-index:1; }
	#kagoshima2 {
		position:absolute; top: 128px; right:0; bottom:0; left: -168px; margin:auto; z-index:1; }
	#kumamoto1 {
		position:absolute; top: 110px; right:0; bottom:0; left: -158px; margin:auto; z-index:1; }
	#fukuoka1 {
		position:absolute; top: 90px; right:0; bottom:0; left: -144px; margin:auto; z-index:1; }
	#saga1 {
		position:absolute; top: 92px; right:0; bottom:0; left: -163px; margin:auto; z-index:1; }
	#nagasaki1 {
		position:absolute; top: 90px; right:0; bottom:0; left: -188px; margin:auto; z-index:1; }
}
