@charset "utf-8";
dl.compact dt, dl.compact2 dt {
    float: left;
    clear: left;
    margin-right: 1em;
}
dl.compact dt {
    min-width: 3em;
}
dl.compact2 dt {
    min-width: 7em;
}
dl.compact dd, dl.compact2 dd {
    float: left;
    margin-left: 0;
}
dd span+span {
    margin-left: 1em;
}
/* 世界情勢 */
span.world {
    color: tomato;
}
/* 日本 */
span.japan {
    color: royalblue;
}
/* 計算機 */
span.computer {
    color: darkorchid;
}
.rect{
    display: inline-block;
    width: 1.3em;
    height: 1em;
    margin-left: 0.5em;
    margin-right: 0.3em;
}
#world {
    background-color: tomato;
}
#japan {
    background-color: royalblue;
}
#computer {
    background-color: darkorchid;
}
