@charset "utf-8";

.image_link{
    /* float: right; */
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration:none;
}
.image_link img{
	position: relative;
	display: inline-block;
	margin: 0 20px 0 0;
}
.image_link:before{
	content:"";
	display: inline-block;
	z-index:2;
	background:#000;
	opacity:0;
	transition:0.3s;
}
.image_link:after{
	content:"AIに描いてもらう";
	display: inline-block;
	color:darkblue;
	line-height:11px;
	border:none;
	border-radius:5px;
	text-align: center;
	position:absolute;
	top:10%;
	left:28%;
	margin-top:-1.5em;
	opacity:0;
	z-index:3;
	transition:0.3s;
	letter-spacing:0.05em;
}
.image_link:hover:before{
	opacity:0.5;
}
.image_link:hover:after{
	opacity:1;
	margin-top:-1em;
}
@media (max-width: 700px) {
	.image_link img{
		width: 200px;
		height: auto;
	}
	.image_link:after{
		font-size:12px;
		height: auto;
	}
	#mytext {
		font-size:12px;
	}
}
