@charset "utf-8";
#overlap {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 400px;
}
#overlap a {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #A0A0FF;
}
#overlap img {
    position: absolute;
    display: block;
    pointer-events: none;
}
#overlap .col1 {
    color: steelblue;
}
#overlap .col2 {
    color: pink;
}
#filter {
    position: absolute;
    left: 40%;
    top: 18%;
    z-index: 1;
}
#cage {
    position: absolute;
    left: 80%;
    top: 36%;
    z-index: 2;
}
#feeder {
    position: absolute;
    left: 53%;
    top: 40%;
    z-index: 3;
}
#pond {
    position: absolute;
    left: 7%;
    top: 50%;
    z-index: 4;
}
#plant {
    position: absolute;
    left: 37%;
    top: 56%;
    z-index: 5;
}
#dish {
    position: absolute;
    left: 63%;
    top: 81%;
    z-index: 6;
}
#rain {
    position: absolute;
    left: 7%;
    top: 18%;
    z-index: 7;
}
@media (max-width: 700px) {
    main {
		font-size: small;
    }
    #overlap {
		width: 260px;
        height: 230px;
	}
}
