@charset "utf-8";

@import url(mapphoto.css);

#map {
	width: 344px;
}
#photo {
	margin: 0.5em auto;
	max-width: 400px;
	max-height: 400px;
}
#asaka1 {
    position:absolute; top: 162px; right:0; bottom:0; left: 164px; margin:auto; z-index:1; }
#chichibu1 {
    position:absolute; top: 88px; right:0; bottom:0; left: -128px; margin:auto; z-index:1; }
#kawagoe1 {
    position:absolute; top: 118px; right:0; bottom:0; left: 102px; margin:auto; z-index:1; }
#omiya1 {
    position:absolute; top: 113px; right:0; bottom:0; left: 184px; margin:auto; z-index:1; }
#satte1 {
    position:absolute; top: 60px; right:0; bottom:0; left: 260px; margin:auto; z-index:1; }
#yono1 {
    position:absolute; top: 129px; right:0; bottom:0; left: 183px; margin:auto; z-index:1; }
#joshi1k, #motoara1k {
    position:absolute; top: 105px; right:0; bottom:0; left: 228px; margin:auto; z-index:1; }

@media (max-width: 700px) {
	.overlap img#map {
		width: 204px;
	}
	#photo {
		max-width: 95%;
		max-height: 280px;
	}	
	#asaka1 {
		position:absolute; top: 92px; right:0; bottom:0; left: 95px; margin:auto; z-index:1; }
	#chichibu1 {
		position:absolute; top: 48px; right:0; bottom:0; left: -71px; margin:auto; z-index:1; }
	#kawagoe1 {
		position:absolute; top: 64px; right:0; bottom:0; left: 59px; margin:auto; z-index:1; }
	#omiya1 {
		position:absolute; top: 62px; right:0; bottom:0; left: 104px; margin:auto; z-index:1; }
	#satte1 {
		position:absolute; top: 32px; right:0; bottom:0; left: 150px; margin:auto; z-index:1; }
	#yono1 {
		position:absolute; top: 71px; right:0; bottom:0; left: 108px; margin:auto; z-index:1; }
	#joshi1k, #motoara1k {
		position:absolute; top: 57px; right:0; bottom:0; left: 132px; margin:auto; z-index:1; }
		
}
