@charset "utf-8";

body {
    background: rgb(245,245,255);
}
/* ハンバーガーボタン */
#menu_btn {
    /* background: rgb(245,245,255, 0.5); */
    background: transparent;
}
/* ドロワーメニュー */
#menu_cont {
    background: rgb(230,230,235);
}
#menu_btn span,
#menu_btn span::before,
#menu_btn span::after {
    background-color: black;
}
#menu_btn #title {
    color: black;
}
.arrow-up {
    color: black;
}
.breadcrumb, a {
    color: DarkSlateGray;
}
a, .popup-open {
    text-decoration-color: black;
}
ul.marker01 li:before {
    color: DarkSlateGray;
}