@charset "utf-8";

@import url(common.css);
@import url(slidemenu.css);
@import url(arrow.css);
@import url(accordionbox.css);

body {
    background: linear-gradient(0deg, honeydew, lightcyan, honeydew);
    font-size: smaller;
}
header, main, footer {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
header {
    margin-bottom: 0.75em;
    display: flex;
}
footer {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    border-top: 1px dashed darkgrey;
    display: flex;
    justify-content: space-between;
}
img, video {
    max-width: 100%;
}
h1.title {
    font-size: x-small;
    color: olive;
    margin-top: 4px;
}
img#logo {
    max-width: 3.5em;
    height: auto;
    margin-right: 0.2em;
    padding: 0;
    /* vertical-align: text-top; */
}
h2 {
    margin: 0.6em 0 0.2em;
}
h3 {
    margin: 0.5em 0 0.2em;
}
dd {
    margin-left: 1em;
}
.noborder td, th {
	border: 0px none;
}
#instaicon2 {
    font-size: larger;
    width: 1.2em;
    height: 1.2em;
}
.arrow-up {
    font-size: larger;
    vertical-align: top;
    margin-right: 1em;
    /* color: #CE5D8B; */
    color: rgb(239,129,52);
}
nav, #footlinks {
    display: none;
    margin-left: auto;
    margin-right: auto;
}
nav {
    padding-right: 4em;
}
#footlinks {
    width: fit-content;
    background-color: transparent;
}
nav ul, #footlinks ul {
    display: flex;
    list-style-type: none;
    white-space: nowrap;
    font-size: smaller;
}
nav ul {
    margin-top: 3em;
}
#footlinks ul {
    gap: 0.5em;
}
nav a, #footlinks a {
    padding: 0 0.5em;
    text-decoration: none;
    color: DarkSlateGray;
}
nav li:hover, #footlinks li:hover {
    scale: 1.0 1.2;
}
nav a:hover, #footlinks a:hover {
    color: black;
}
h2 {
    background: linear-gradient(90deg, paleturquoise, rgba(255,255,255,0.0));
    padding: 0.2em 0.3em;
    border-radius: 0.15em;
}
h2.mono {
    background: linear-gradient(90deg, silver, rgba(255,255,255,0.0));
}
h4 {
    margin-top: 0.4em;
}
.maxw100 {
    max-width: 100%;
}
article, section {
    display: inline-block;
    vertical-align: top;
    min-width: none;
    max-width: 97%;
    margin-right: 1em;
    padding: 0;
}
.article_content, .section_content {
    margin-left: 0.3em;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}
.w100center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
canvas {
    margin-left: 0;
}
h3, h4 {
    background: linear-gradient(90deg, rgb(11,155,152), rgba(255,255,255,0.0));
    color: linen;
    padding: 0.2em 0.3em;
    border-radius: 0.1em;
}
h3.mono, h3.mono, h4.mono, h5.mono{
    background: linear-gradient(90deg, gray, rgba(255,255,255,0.0));
}
.notes {
    font-size: smaller;
    color: dimgray;
    margin-left: 1em;
}
.extlink {
    margin-left: 1em;
    margin-right: 0;
    width: 1em;
    vertical-align: baseline;
}
span.notes {
    font-size: smaller;
    color: dimgray;
    margin-left: 0.4em;
}
/* ショートカット・ナビゲーション */
.arrow {
    position: fixed;
    z-index: 999;
    bottom: 0.25rem;
}
#arrowr {
    right: 1rem;
    text-align: right;
}
#arrowl {
    left: 1rem;
    text-align: left;
}
.arrow img {
    width: 2.4rem;
    height: auto;
}
.arrow img.pink {
    opacity: 0.8;
}
.arrow img.white {
    opacity: 0.8;
}
.arrow img.black {
    opacity: 0.6;
}
.arrow div {
    font-size: small;
}
.arrow .pink {
    color: rgba(255,143,171,0.9);
}
.arrow .white {
    color: rgba(255,255,255,0.9);
}
.arrow .black {
    color: rgba(0,0,0,0.7);
}

/* 今後検討 */
/* .scroller {
    scrollbar-color: #FAF8D8 #DE94BF;
} */
@media (min-width: 700px) {
    body {
        font-size: medium;
    }
    header, main, footer {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    h1.title {
        font-size: 0.75em;
    }
    img#logo {
        max-width: 4em;
    }
    nav, #footlinks {
        display: block;
    }
    article, section {
        padding-right: 1em;
        min-width: 24em;
    }
    article {
        max-width: 28em;
    }
    .article_content, .section_content {
        margin-left: 0.4em;
    }
}
@media (min-width: 1000px) {
    nav {
        padding-right: 0;
    }
}
@media (min-width: 1400px) {
    body {
        font-size: larger;
    }
    h1.title {
        font-size: 0.65em;
    }
    img#logo {
        max-width: 5em;
    }
}