@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	margin-left: auto;	/* 左右autoで中央表示 */
	margin-right: auto;	/* 左右autoで中央表示 */
	height: 45px;
	box-shadow: 0 0 10px #dddddd;
	background-color: white;
	position: fixed;
	top: 0;
}
header nav {
	float: right;		/* 右端配置 */
	margin-right: 30px;
}
header img {
	float: left;	/* 左端配置 */
	height: 40px;
	margin-top: 5px;
	margin-left: 30px;
}
.clear {
	clear: both;	/* 配置指定（回り込み）解除 */
}
header nav a {
	margin-left: 3px;
	font-size: 16px;
	padding: 10px 10px;	/* 上下、左右 16px 5px */
	line-height: 45px;	/*56*/
	color: #5a5c5f;	/* #5a5c5f */
	text-decoration: none;
}
header nav a:hover {
	background-color: #d2e1ff;	/* e2f1ff */
	transition: background-color 0.5s;	/* アニメーション */
}
main {
	margin-left: auto;	/* 左右autoで中央表示 */
	margin-right: auto;	/* 左右autoで中央表示 */
	padding: 70px 30px 30px;	/* 上、左右、下 70px 30px 1px */
	color: #5a5c5f;
	background-color: #f8f8f8;	/*f8f8f8*/
}
footer {
	padding: 7px 25px;	/* 0 30px*/
	margin-left: auto;	/* 左右autoで中央表示 */
	margin-right: auto;	/* 左右autoで中央表示 */
	height: 40px;
	background-color: #cfcac4;	/*afaaa4*/
	color: #383838;
}
footer img {
	margin: 5px 12px;
}
.footer-left {
	float: left;
}
.mail-text a {
	float: left;
	margin-left: 20px;
	padding-top: 9px;
	color: #5a5c5f;
	text-decoration: none;
}
.mail-icon {
	display: none;
}
.footer-right {
	float: right;
	padding-top: 9px;
}
.title {
	margin-bottom: 15px;
}
.text {
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 10px;
}
.indent {
	margin-left: 20px;
	max-width: 90%;
}
.plist {
	margin-left: 50px;
	margin-top: -10px;	/* -10px */
	margin-bottom: 10px;	/* -10px */
}
ul {
	margin-left: 30px;
	margin-right: 10px;
}
img {
	margin-right: 10px;
}
table {
	border-collapse: collapse;
}
td, th {
	border: solid 1px #333333;
	padding: 0px 10px;
}
.breadcrumb {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	list-style: none;	
	align-items:center;
}
.breadcrumb li:not(:last-of-type)::after {
	content: "›";
	margin: 0 .6em; /* 記号の左右の余白 */
	color: #777; /* 記号の色 */
}
img.icon {
	margin:0;
}
blockquote {
	margin: 8px 15px 0;
	padding: 0.3em 0.1em;
	text-indent: 1em;
	color: #868666;
	border-left: 4px solid #A6A666;
}
blockquote img {
	margin-right: 4px;
}
@media (max-width: 670px) {
	header img {
		display: none;
	}
	header nav {
		float: none;	/* float無効化 */
		text-align: center;
	}
	header nav a {
		font-size: 14px;
	}
	main {
		padding: 60px 10px 10px;	/* 上、左右、下 */
	}
	main p, ul {
		font-size: 14px;
	}
	main img {
		max-width: 100%;
	}
	.mail-text {
		display: none;
	}
	.mail-icon {
		float: left;
		display: block;
	}
}
