@charset "utf-8";

main {
	/* 上、左右、下 */
	padding: 70px 15px 10px;
	color: #5a5c5f;
	text-align: center;
    background-color: #f8f8f8;
}
main video {
	/*
	margin-bottom: 10px;
	*/
	margin-bottom: 5px;
}
main h1 {
	display: none;
}
main h2 {
	font-size: 22px;
	margin-bottom: 10px;
}
main h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}
main img {
	margin-bottom: 10px;
	/*
	box-shadow: 2px 2px 4px #b7b7b7;
	border-radius: 10px;
	*/
}
.contents {
	display: inline-block;
	text-align: left;
}
.text blockquote {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 15px;
}
dl dd {
	font-size: 15px;
}
@media (max-width: 670px) {
	main video {
		width: 90%;
	}
	.gallery img {
		width: 128px;
		margin: 2px 5px 5px;
	}
	main h1 {
        font-size: 13px;
		/*opacity: 0.5;*/	/* 不透明度 */
	}
	main h2 {
        font-size: 15px;
		margin-bottom: 5px;
	}
	/*
	.icon {
		width: 15px;
	}
	*/
	dl dd {
		font-size: 11px;
	}
	.text blockquote {
		font-size: 11px;
	}
}
