@charset "utf-8";

/* NG
.contents {
	display: inline-block;
	text-align: left;
}
*/
.overlap {
	text-align: center;
    position: relative;
}
.overlap a {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #A0A0FF;
}
.overlap img {
	/*
	margin-top: 10px;
	*/
	margin-bottom: -15px;
    pointer-events: none;
}
#markers {
	font-size:20px;
	font-weight: bold;
    color: tomato;	/* #FF6347 */
	visibility: hidden;
}
#clear{
    color: steelblue;
	text-decoration: none;
	visibility: hidden;
}

@media (max-width: 670px) {
	/*
	*/
    main {
		font-size: 12px;
    }
	.overlap img {
		width: 200px;
	}
	.icon {
		width: 15px;
	}
}
