@charset "utf-8";
.overlap {
	text-align: center;
    position: relative;
}
.overlap div a {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #A0A0FF;
    font-size:12pt;
}
.overlap img {
    pointer-events: none;
}
.overlap .col1 {
    color: steelblue;
}
.overlap .col2 {
    color: pink;
}
#filter {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: -350px;
    margin: auto;
    z-index: 1;
}
#cage {
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 320px;
    margin: auto;
    z-index: 2;
}
#feeder {
    position: absolute;
    top: 74px;
    right: 0;
    bottom: 0;
    left: 80px;
    margin: auto;
    z-index: 3;
}
#pond {
    position: absolute;
    top: 135px;
    right: 0;
    bottom: 0;
    left: -420px;
    margin: auto;
    z-index: 4;
}
#plant {
    position: absolute;
    top: 180px;
    right: 0;
    bottom: 0;
    left: -120px;
    margin: auto;
    z-index: 5;
}
#dish {
    position: absolute;
    top: 272px;
    right: 0;
    bottom: 0;
    left: 165px;
    margin: auto;
    z-index: 6;
}
@media (max-width: 670px) {
    main {
		font-size: 12px;
        max-width: 600px;
    }
    .overlap img {
		width: 260px;
	}
	#filter {
		top: 5px;
		left: -215px;
        text-decoration-color:gold;
	}
	#cage {
		top: 22px;
		left: 180px;
	}
	#feeder {
		top: 50px;
		left: 90px;
	}
	#pond {
		top: 70px;
		left: -250px;
	}
	#plant {
		top: 95px;
		left: -50px;
	}
	#dish {
		top: 140px;
		left: 100px;
	}
    #filter a{
        font-size:10pt;
        text-decoration-color:red;
    }
    .overlap div a {
        font-size:10pt;
        text-decoration-color:green;
    }
}
