@charset "utf-8";

blockquote {
	/* 上、左右、下 */
	margin: 8px 15px 0;
	padding: 0.3em 0.1em;
	/*
	text-indent: 0.5em;
	*/
	color: #868666;
	border-left: 4px solid #A6A666;
	font-size: 13px;
}
blockquote img {
	margin-right: 4px;
}
main img {
	border-radius: 0;
	/*
	margin-left: 4px;
	*/
}
